@charset "UTF-8";

article>table{
	border-collapse:collapse;
	width:100%;
}

article>table>tbody>tr:nth-of-type(1)>td{
	text-align:center;
}

article > table>tbody>tr:nth-of-type(1){
	height:50px;
	border-top:2px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	background-color:#f5f5f5;
	
	font-size:14px;
}

article > table>tbody>tr:nth-of-type(1)>td>span:nth-of-type(1){
	font-weight:600;
}

article > table>tbody>tr:nth-of-type(2)>td{
	border:1px solid #E0E0E0;
	box-sizing:border-box;
	padding:10px;
}
article > table>tbody>tr:nth-of-type(2)>td>div{
	min-height:200px;
}